<div class="container w-100 m-auto">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <form #loginForm="ngForm" (ngSubmit)="start()" autocomplete="on" >
                <h1 class="h3 mb-3 fw-normal">Enter Player's Names</h1>            
                <div class="form-floating">
                  <input id="player1" name="player1"
                        required 
                        [(ngModel)]="model.player1" 
                        class="form-control me-2" 
                        placeholder="Player 1" 
                        #name="ngModel" >
                  <label for="player1">Player 1</label>
                </div>               

                <div class="form-floating">
                    <input id="player2"
                        name="player2" 
                        required
                        [(ngModel)]="model.player2" 
                        class="form-control me-2 mt-1" 
                        placeholder="Player 2">
                  <label for="player1">Player 2</label>
                </div>
                
                <button [disabled]="!loginForm.form.valid" class="btn btn-primary w-100 py-2 mt-3" type="submit">Start</button>
                
                <button class="btn btn-secondary w-100 py-2 mt-3" type="button"
                    (click)="gameHistory()">Game History</button>
            </form>   
        </div>        
    </div>
</div>
    
